{% extends 'base.html'%}

{%block head%}
<title>Login</title>

{% endblock%}

{% block body%}
<body class="text-center" style>

        <form method="post" action="{% url 'login' %}" class="form-signin">
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}">Username</label>
           {{ form.username }}

            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}

            <!--{{ form.username.label_tag }}-->
            <!--{{ form.username }}-->
            <!--{{ form.password.label_tag }}-->
            <!--{{ form.password }}-->

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

</body>
{% endblock %}

