{% extends 'base.html'%}
{%block head%}
<title>{{ user.first_name }}</title>

{% endblock%}

{%block body%}
<div class="masthead">

    <div class="d-flex p-2">

        <div class="row pt-3">
           <!--Profile info-->
            <div class="col">
                <!--<p class="text-white">Username: {{ user }}</p>-->
                <!--<p class="text-white">First name: {{ user.first_name }}</p>-->
                <!--<p class="text-white">Last name: {{ user.last_name }}</p>-->
                <!--<p class="text-white">Email: {{ user.email }}</p>-->
                <h1>Travel</h1>
                <a href="{% url 'edit_profile'%}" class="btn btn-sm btn-success  ">Edit Profile</a>
            </div>
            <!--Travel Form-->
            <div class="col">
                <form id="person" action="" method="post">
                    <div class="text-white">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" type="text" name="Name" class="form-control"><br>
                            <label for="Email">Email:</label>
                            <input id="Email" type="email" name="email" class="form-control"><br>
                            <label for="Address">Adress och ort :</label>
                            <input id="Address" type="text" name="address" class="form-control"><br>
                            <h3 class="text-white">The time you start in the morning</h3>
                            <label for="id1">Mon:</label>
                            <input id="id1" type="time" name="1" class="form-control"><br>
                            <label for="id2">Tue:</label>
                            <input id="id2" type="time" name="2" class="form-control" ><br>
                            <label for="id3">Wed:</label>
                            <input id="id3" type="time" name="3" class="form-control"><br>
                            <label for="id4">Thu:</label>
                            <input id="id4" type="time" name="4" class="form-control"><br>
                            <label for="id5">Fri:</label>
                            <input id="id5" type="time" name="5" class="form-control"><br>
                        </div>
                    </div>
                    <input id="submit" type="button" name="submit" value="submit" class="btn btn-success js-scroll-trigger">
                </form>
            </div>
            <!--Travel Response-->
            <div class="col">
                <ul class="list-group-transparent ">
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="0">
                    </li>
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="1">
                    </li>
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="2">
                    </li>
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="3">
                    </li>
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="4">
                    </li>
                    <li class="list-group-item d-flex flex-column justify-content-center align-self-start " id="5">
                    </li>

                </ul>
            </div>
            <div class="row">
                <!--Travel Status Response -->
                <div class="col">
                    <ul class="list-group-transparent ">
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="10">
                        </li>
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="11">
                        </li>
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="12">
                        </li>
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="13">
                        </li>
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="14">
                        </li>
                        <li class="list-group-item d-flex flex-column justify-content-center align-self-start " id="15">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url:'/status/',
            type:'GET',
            success: function(result){
                console.log(result);
                var travelStatusResponse = result.ResponseData.TrafficTypes;
                var InfoList= '<li class="list-group-item list-group-item-success" id="infolist0"></li>';
                var Event = '<span class="badge badge-success" id="Event"></span>';
                for (var i = 0; i < travelStatusResponse.length; i++) {
                    var InfoListChanger = InfoList.replace('infolist0', 'infolist'+i);
                    var EventChanger = Event.replace('Event', 'Event'+i);
                    y=i+10;
                    //$("#"+y).html(travelStatusResponse[i].Name+EventChanger);
                    if(travelStatusResponse[i].Events.length <= 1){
                        $("#"+y).html(travelStatusResponse[i].Name+EventChanger);
                        $("#Event"+i).html(travelStatusResponse[i].Events[0].Message);
                    }else{
                        var EventChangerDanger = EventChanger.replace('success', 'danger');
                        $("#"+y).html(travelStatusResponse[i].Name+EventChangerDanger);
                        $("#Event"+i).text("Störning i trafiken. Kolla på Sl.se");
                    }

                }
            }
        });
        $("#submit").on('click', function(){
            $.ajax({
                url:'/person/',
                type:"POST",
                dataType:"json",
                data:$("#person").serialize(),
                beforeSend: function (xhr, settings) {
                    var csrftoken = Cookies.get('csrftoken');
                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                },
                success: function(result){
                    console.log(result)
                    var responseParse = result.TravelPlan.legs;
                    var infoBox= '<li class="list-group-item list-group-item-success" id="infotext0"></li>'
                    var timestamp = '<span class="badge badge-primary" id="t0"></span>';
                    var transportName = '<span class="badge badge-success" id="transport0"></span>';
                    for(var i=0; i < responseParse.length; i++){
                        console.log(responseParse[i])
                        var timeChanger= timestamp.replace('t0', 't'+i);
                        var transportChanger= transportName.replace('transport0', 'transport'+i);
                        var infoChanger = infoBox.replace('infotext0', 'infotext'+i)
                         $('#'+i).html("från " +result.TravelPlan.legs[i].origin.name+ timeChanger + transportChanger + infoChanger);
                         $('#infotext'+i).html("till " +responseParse[i].destination.name+ timeChanger + transportChanger);
                         $('#t'+i).text(result.TravelPlan.legs[i].origin.time);
                         $('#transport'+i).text(result.TravelPlan.legs[i].origin.TransportName);
                    }
                },
                error: function(xhr, resp, text){
                    console.log(xhr, resp, text);

                }
            })
        });
    });
    $(window).on('load', function(){
           $.ajax({
                url:'/status/',
                type:"GET",
                dataType:"json",
                success: function(result){
                    console.log(result);
                },
                error:function(xhr, resp, text){
                    console.log(xhr, resp, text);
                }
           });
       });

</script>
{% endblock%}