{% extends 'base.html'%}
{%block head%}
<title>{{ user.first_name }}</title>
{% endblock%}

{%block body%}
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <a href="{% url 'edit_profile'%}" class="btn btn-success js-scroll-trigger">Edit Profile</a>
</div>
<div class="container">

    <form id="person" action="" method="post">
        Name: <input type="text" name="Name" placeholder="{{ user.first_name }} {{ user.last_name }}"><br>
        email: <input type="email" name="email" placeholder="{{ user.email }}"><br>
        address:<input type="text" name="address" placeholder="address zip code"><br>
        <h3>The the you start in the morning</h3>
        Mon:<input type="time" name="1" ><br>
        Tue:<input type="time" name="2" ><br>
        Wed:<input type="time" name="3"><br>
        Thu:<input type="time" name="4"><br>
        Fri:<input type="time" name="5"><br>
        <input id="submit" type="button" name="submit" value="submit" class="btn btn-success js-scroll-trigger">
    </form>
</div>
<ul class="list-group">
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="0">
    </li>
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="1">
    </li>
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="2">
    </li>
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="3">
    </li>
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start" id="4">
    </li>
    <li class="list-group-item d-flex flex-column justify-content-center align-self-start " id="5">
    </li>

</ul>

<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $(document).ready(function(){
        $("#submit").on('click', function(){
            $.ajax({
                url:'/person/',
                type:"POST",
                dataType:"json",
                data:$("#person").serialize(),
                beforeSend: function (xhr, settings) {
                    var csrftoken = Cookies.get('csrftoken');
                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                },
                success: function(result){
                    var responseParse = result.TravelPlan.legs;
                    var infoBox= '<li class="list-group-item list-group-item-success" id="infotext0"></li>'
                    var timestamp = '<span class="badge badge-primary" id="t0"></span>';
                    var transportName = '<span class="badge badge-success" id="transport0"></span>';
                    for(var i=0; i < responseParse.length; i++){
                        console.log(responseParse[i])
                        var timeChanger= timestamp.replace('t0', 't'+i);
                        var transportChanger= transportName.replace('transport0', 'transport'+i);
                        var infoChanger = infoBox.replace('infotext0', 'infotext'+i)
                         $('#'+i).html(result.TravelPlan.legs[i].origin.name + timeChanger + transportChanger + infoChanger);
                         $('#infotext'+i).html(responseParse[i].destination.name + timeChanger + transportChanger);
                         $('#t'+i).text(result.TravelPlan.legs[i].origin.time);
                         $('#transport'+i).text(result.TravelPlan.legs[i].origin.TransportName);
                    }
                },
                error: function(xhr, resp, text){
                    console.log(xhr, resp, text);

                }
            })
        });
    });

</script>
{% endblock%}